VENV=choosefi
PATH=`expand_path util`:${VIRTUAL_ENV}/bin:$PATH
export VIRTUAL_ENV="/home/wam/projs/virtualenvs/${VENV}"
export VIRTUAL_ENV_PROMPT="${VENV}"

echo Activating venv: $VENV. Adding util dir to PATH.


