/* Corner ribbons inspired by:
 * https://www.antarcticathemes.com/tutorials/how-to-create-a-corner-ribbon/
 */
.ribbon-container {
  position: relative;
}
.box {
  width:200px;height:300px;
  position:relative;
  border:1px solid #BBB;
  background:#eee;
  float:left;
  margin:20px
}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 5;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold; line-height: 20px;
  transform: rotate(45deg);
  width: 100px; display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: '';
  position: absolute;
  left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: '';
  position: absolute;
  right: 0%; top: 100%;
  z-index: -1;
  border-right: 3px solid #79A70A;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.red-ribbon span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
.red-ribbon span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
.red-ribbon span::after {border-right-color: #8F0808; border-top-color: #8F0808;}

.blue-ribbon span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
.blue-ribbon span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
.blue-ribbon span::after {border-right-color: #1e5799; border-top-color: #1e5799;}

.purple-ribbon span {background: linear-gradient(#865ad7 0%, #5d3e96 100%);}
.purple-ribbon span::before {border-left-color: #5d3e96; border-top-color: #5d3e96;}
.purple-ribbon span::after {border-right-color: #5d3e96; border-top-color: #5d3e96;}

.orange-ribbon span {background: linear-gradient(#ff7329 0%, #b2501c 100%);}
.orange-ribbon span::before {border-left-color: #b2501c; border-top-color: #b2501c;}
.orange-ribbon span::after {border-right-color: #b2501c; border-top-color: #b2501c;}

